.feature-container{
    background: radial-gradient(#525252, #131313);
    position: relative;
    z-index: 0;
    overflow: hidden;

    .wave{
        position: absolute;
        left: 0;
        bottom: -25%;
        width: 100%;
        z-index: -1;
    }
}
.feature{
    min-height: 90vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .cards{
        display: flex;
        justify-content: space-around;
        color: black;
        .card{
            background: #fff;
            margin: 0rem 5rem;
            display: flex;
            flex-direction: column;
            text-align: center;
            border-radius: 2rem;
            overflow: hidden;
            
            h4{
                margin: 2rem 0rem 1rem 0rem;
            }
            p{
             padding: 2rem;
            }
            img{
                object-fit: cover;
            }
        }
    }
}